body{
    background-color: red;
}

#introduction{
    background-color: aliceblue;
    margin-top: 50px;
    padding-left: 100px;
}

#formquestion{
    padding-top: 45px;
}

#psize{
    margin-top: 35px;
}

#pcrust{
    margin-top: 30px;
    margin-bottom: 30px;
}

#ptopping{
    margin-bottom: 40px;
}

#flavour{
    margin-top: 20px;
   margin-bottom: 39px;
}
#count{
    margin-bottom: 30px;
}

 
#checkout{
    margin-left: 151px;
}