body{
   
}
#header{
    background-image: url("https://images.pexels.com/photos/1411677/pexels-photo-1411677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
}

#tagline{
    font-size: 100px;
}

#introduction{
    margin-top: 50px;
    padding-left: 50px;
    font-size: 50px;
}

#formquestion{
    padding-top: 45px;
}

#psize{
    margin-top: 35px;
}

#pcrust{
    margin-top: 30px;
    margin-bottom: 30px;
}

#ptopping{
    margin-bottom: 40px;
}

#flavour{
    margin-top: 20px;
   margin-bottom: 39px;
}
#count{
    margin-bottom: 30px;
}

 
#checkout{
    margin-left: 151px;
}


#contact{
    background-image: url("https://images.pexels.com/photos/5561131/pexels-photo-5561131.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    text-align: center;
}