body{
    background-color: red;
}

#spacediv{
    background-color: aliceblue;
}

#psize{
    margin-top: 150px;
}

#pcrust{
    margin-top: 30px;
    margin-bottom: 40px;
}

#ptopping{
    margin-bottom: 40px;
}

#count{
    margin-bottom: 30px;
}